@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.flex-between-center {
  @apply flex;
  @apply justify-between;
  @apply items-center;
}

#mid-home-page {
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}

.w-30-percent {
  width: 30%;
}